body {
  margin: 0;
  font-size: 14px;
  font-family: Verdana, sans-serif;
  line-height: 1.4em;
  background: #FFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer p {
  font-size: .8em !important;
  font-weight: normal;
  letter-spacing: 0.04em;
}

#institue_name {
  font-family: 'Oswald', sans-serif;
  font-size: 1.25em;
}